// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .btn {
  margin-top: 10px;
}

.navbar .glyphicon {
  margin-top: 10px;
}

.sitelogo{
  height: 50px;
}
